body {
  font-family: Arial;
  background-color: skyblue;
  overscroll-behavior: none;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  user-select: none;
}

.btn {
  border: none;
  background-color: navy;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  outline: none;
  user-select: none;
}
.btn:hover {
  background-color: mediumblue;
}
.btn:disabled,
.btn:disabled:hover {
  background-color: gray;
  cursor: default;
}
.btn--undo {
  margin-top: 10px;
  text-transform: uppercase;
}

input {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
}

.row {
  display: flex;
  align-items: center;
}
.thumbnail {
  width: 100%;
}
.row-label {
  flex: 2 1 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sample__container {
  flex: 1 1 0;
  background-color: white;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
  overflow: hidden;
}

.emphasize {
  background-color: yellow;
}

#container {
  width: calc(100% - 500px);
}

#chartContainer {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
